.main-header--container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header--left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;

    /* Margin para centralizar melhor o texto, pois a imagem de perfil é menor do que o container dela, logo quebra um pouco o flex ajuste */
    margin-left: 12%;

}

.main-header--left > h1 {
    color: white;
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-shadow: 0px 0px 10px #f00;
}

.main-header--left > h1.--home-especializando {
    font-size: 1.3rem;
    color: #f00;
    text-shadow: none;
    min-width: max-content;
}

.main-header--right {
    flex-grow: 1;
    height: 100%;
    text-align: end;
}

.main-header--right img{
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    max-height: 70vh;
    padding-top: 3rem;
}

img.--perfil-InMobile {
    display: none;
}

/* Rubrica com fonte personalizada */

/* Obs: Não coloca em variaveis no index.js pois só é utilizado aqui essa fonte. */

@font-face {
    font-family: 'Rubrica Upper Case Font Family';
    src: url('./../../resources/fonts/Jonathan Hetegral.otf');
}

.main-header--container > .main-header--left > h1.--home-rubrica {
    font-family: 'Rubrica Upper Case Font Family';
    font-size: 4rem;
    line-height: 3rem;
    color: #000;

    text-shadow: 2px 0px 5px #f00;
}

@media (max-width: 810px)
{
    
    .main-header--container {
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .main-header--left {
        order: 2;
        flex-grow: 3;
    } 
    
    .main-header--right {
        order: 1;
        width: 100vw;
        text-align: center;
    }
    
    section {
        top: 0;
    }

    .main-header--right img{
        height: 100%;
        overflow: hidden;
        max-height: 50vh;
        padding-top: 4rem;
        border-radius: 50%;
    }

    .main-header--left {
        margin-left: 0px;
    }

    .main-header--left > h1 {
        font-size: 1.75rem;
    }
   
    .main-header--left > h1.--home-especializando {
        min-width: fit-content;
        font-size: 1.15rem;
    }  

    .main-header--container > .main-header--left > h1.--home-rubrica {
        font-size: 3.75rem;
        margin-bottom: 0px;
    }
}

@media (max-width: 425px)
{
    .main-header--right {
        order: 1;
        width: 100%;
    }
    .main-header--left > h1 {
        font-size: 1.5rem;
    }

    .main-header--left > h1.--home-especializando {
        font-size: .8rem;
    }  

    section {
        top: 0;
    }

    .main-header--right img{
        overflow: hidden;
        object-fit: contain;
        border-radius: 50%;
        padding-top: 4rem;
        width: 100%;
    }


    img.--perfil-InMobile { 
        display: inherit;
    }

    img.--perfil-InDesktop { 
        display: none;
    }


    .main-header--left {
        margin-left: 0px;
        padding: 1rem 0;
    }

    .main-header--container > .main-header--left > h1.--home-rubrica {
        margin-bottom: 0px;
        font-size: 2.5rem;
        line-height: 1.5rem;
    }

    .main-header--left {
        padding: 1rem 0;
    }
    
}