/* Area commom */

.projects-title--container.-certificateTitleContainer {
	background-color: #2f9919;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0;
}

#main-certificate--container hr {
	margin: 1rem;
}

/*  ÀREA DA BOLSA ENSINO */

.certificate-single.-bolsaEnsinoCertficate > div {
	max-width: 98%;
	margin: 0 auto;
	background: linear-gradient(90deg,#fff 0,6%,#2f9919,#267b15);
	border-radius: 10px;
	border-right: 4px double black;
    border-left: 4px double black;
}

.certificate-single.-bolsaEnsinoCertficate img {
	background-color: white;
	width: 100%;
	position: relative;
	border: 4px double black;
}

.projects-subdescription--container.-bolsaEnsinoCertficate {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-subdescription--container.-bolsaEnsinoCertficate {
	margin: 0;
	border: 4px double;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 1rem;
	background-color: #4bc133;
}

.bolsaEnsinoImageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 60vh;
	overflow: auto;
}

.projects-title--container.-certificateTitleContainer > p {
	font-size: .7rem;
	font-weight: 600;
	margin-top: .3rem;
}

.-maxHeigthNone {
	max-height: none;
}

Article.-certificateLastChildArticle{
	margin-bottom: 1rem;
}

.projects-subtitle.-certificateSubtitle {
	padding: .5rem;
}

span.certificates-autenticCode--span {
	color: yellow;
	font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: .7rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace !important;
	/* font-family: var(--main-fontFamily); */
}

h1.main-title.-complementaryActivities {
	font-size: 1rem;
}

div.certificates-autenticCode--container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px double #000;
	margin: 4px 0 1px 0;
	margin-left: 4px;
	max-width: max-content;
	padding: 1px 3px;
	border-radius: 5px;
	background-color: #255325;
}

hr.certificates-autenticCode--spanSeparator {
	margin: 0 !important;
	width: 100%;
	border: 1px double #000;
	height: 3px;
}

span.certificates-autenticCode--spanBorderTopRadius {
	padding: 0px 27%;
	width: max-content;
	border-top: 3px double black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

span.certificates-autenticCode--spanBorderTopRadius.-curoEmVideo {
	padding: 0px 23%;
}

hr.certificates-autenticCode--spanSeparator.-widthSpanSeparator {
	width: 102%;
}


@media (max-width: 810px)
{
	.certificate-single.-bolsaEnsinoCertficate > div {
		max-width: none;
	}
}

@media (max-width: 425px)
{
	.bolsaEnsinoImageWrapper {
		max-height: 70vh;
	}

	.projects-subtitle.-certificateSubtitle.-minimalFont {
		font-size: .6rem;
	}
}