#template-preview-full {
    font-weight: 600;
}

article, aside, footer, header, nav, section {
    display: block;
}

.visible-preview {
    width: 100%
}

.sc-15b5x2p-1.gOzbkZ {
    padding-top: 5rem;
    padding-bottom: .8rem;
    background-color: black;
}

tr .template__professional__column, .template__newyork__main.template__professional__main span, .template__nameOccupation > .template__occupation {
    color: white;
}

.template__newyork .template__section__college, .template__section__right .template__section__company, .template__nameOccupation > .template__occupation > p{
    color: #9f9f9f;
}

.template__header__title {
    height: max-content;
}

.template__section__title span hr{
    display: none;
}

.tableCurriculoVitae
{
    max-width: 1024px;
}

.template__header.template__header--twoColumns, #education .template__section__right .template__section__description
{
    text-align: justify;
}

.template__section.template__section__experience.template__section--border.template__section--twoColumns, .template__section__simple--border > .template__section__container
{
    padding-right: 2rem;
}

.template__header__info > p:nth-child(1){
    color: black;
}

.template__professional__column.template__newyork__column > section > .template__section__title {
    text-align: center;
}

#skills > .template__section__title, #languages > .template__section__title {
    padding-top: .9rem;
}

.gOzbkZ {
position: relative;
z-index: 1;
}

.esahFp .template.html {
background: white none repeat scroll 0% 0%;
border: medium none;
transform-origin: 0px 0px 0px;
min-height: 842px;
box-shadow: rgb(217, 221, 224) 0px 0px 34px 0px;
}

.khUhxh.paginatorItem {
display: flex;
box-sizing: border-box;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
position: absolute;
top: 1095px;
left: 5px;
padding: 10px;
font-size: 12px;
height: 30px;
background-color: rgb(34, 152, 233);
transform: translate(-100%, -50%);
border-radius: 3px 0px 0px 3px;
text-transform: uppercase;
font-family: var(--main-fontFamily);
letter-spacing: 3px;
font-weight: bold;
color: rgb(255, 255, 255);
border: medium none;
}

.color--blue .template__newyork__column {
background-color: #226015;
border: 4px double black;
}

.template__newyork__column {
background: #D0021B;
background-color: rgb(208, 2, 27);
padding: 40px 16px 50px 50px;
color: #58e70e;
}


.template__professional__column {
display: table-cell;
width: 250px;
vertical-align: top;
}
.template__newyork__column .template__section__title {
border-bottom: 1px solid white;
}
.template__newyork .template__section__title, .template__newyork .template__section__company, .template__newyork .template__section__college {
font-weight: 700;
}
.template__professional__column .template__section__title {
padding-bottom: 8px;
}
.template__section__title {
page-break-after: avoid;
}
.template__professional .template__section__title {
font-size: 16px;
margin-bottom: 16px;
}
.template__section__subtitle, .template__section__position, .template__section__degree, .template__occupation {
font-weight: 700;
font-size: 1rem;
}
.template__newyork .template__section__info__value {
word-break: break-word;
word-wrap: break-word;
}

.template__professional .template__header__info {
margin-bottom: 6px;
}

.template__newyork__main {
padding: 40px 50px 50px 0;
}

.template__professional__main {
display: table-cell;
vertical-align: top;
}

.template__header--twoColumns, .template__section--twoColumns {
display: flex;
}
.template__header--twoColumns {
justify-content: space-between;
}
.template__professional .template__header, .template__professional .template__section__experience:last-child, .template__professional .template__section__education:last-child, .template__professional .template__section__custom:not(:last-child) {
border-bottom: 1px solid white;
padding-right: 2rem;
}

.template__professional .template__header {
padding-bottom: 16px;
margin-bottom: 16px;
}
.template__newyork .template__name {
text-transform: capitalize;
}
.template__professional .template__name {
font-weight: 700;
}
.template__name span:first-child {
margin-right: .4em;
}
.template__professional .template__name {
text-transform: uppercase;
font-size: 18px;
line-height: 17px;
}

.template__professional .template__header__column {
min-width: calc(100% - 75px - 16px);
max-width: 100%;
}
.template__occupation {
font-size: 16.5px;
margin-bottom: 5px;
}
.line-spacing--100.template__newyork .template__section__simple:not(.template__section__languages):not(.template__section__simple--fixed-line-spacing), .line-spacing--100.template__newyork .template__section__description:not(.template__section__languages):not(.template__section__simple--fixed-line-spacing) {
line-height: 20px;
}
.font-size--medium.template__newyork .template__section__simple:not(.template__section__simple--fixed-font-size):not(.template__section__languages), .font-size--medium.template__newyork .template__section__description:not(.template__section__simple--fixed-font-size):not(.template__section__languages) {
font-size: 15.5px;
}
.template__newyork__main .template__header .template__section__simple {
padding-left: 0;
}
.template__newyork__main .template__section__simple {
padding-left: 45px;
}

.template__header .template__section__simple {
margin-bottom: 0;
padding-bottom: 0;
border-bottom: 0;
padding-left: 0;
}

.template__professional .template__section__experience:last-child, .template__professional .template__section__education:last-child {
margin-bottom: 16px;
}

.template__professional .template__section__experience, .template__professional .template__section__education {
min-height: 30px;
}

.template__professional .template__header, .template__professional .template__section__experience:last-child, .template__professional .template__section__education:last-child, .template__professional .template__section__custom:not(:last-child) {
border-bottom: 1px solid white;
}

.template__professional .template__section__left {
position: relative;
width: 172px;
padding-right: 16px;
padding-bottom: 16px;
}
.template__professional .template__section__left {
border-right: 1px solid white;
height: auto;
}
.color--blue.template__newyork .template__section__left::before {
color: white;
background-color: white;
}
.template__newyork .template__section__left::before {
font-family: 'Icons Templates';
position: absolute;
content: '.';
font-size: 12px;
line-height: 8px;
color: #D0021B;
top: -4px;
right: -5.5px;
width: 8px;
height: 10px;
}
.template__professional .template__section__startDate, .template__professional .template__section__endDate, .template__professional .template__section__location {
font-size: 15.5px;
}
.template__professional .template__section__startDate, .template__professional .template__section__endDate {
font-style: italic;
}
.template__professional .template__section__startDate, .template__professional .template__section__endDate, .template__professional .template__section__location {
font-size: 15.5px;
}
.template__section__experience .template__section__startDate, .template__section__experience .template__section__endDate, .template__section__education .template__section__startDate, .template__section__education .template__section__endDate {
display: inline;
}
.template__section__company, .template__section__college, .template__section__experience .template__section__startDate, .template__section__experience .template__section__endDate, .template__section__education .template__section__startDate, .template__section__education .template__section__endDate {
font-style: italic;
margin-top: 3px;
}
.template__section__experience .template__section__endDate::before, .template__section__education .template__section__endDate::before {
content: " - ";
}
.template__professional .template__section__right {
width: calc(100% - 172px);
padding-left: 16px;
margin: -5.5px 0 5.5px;
}

.color--blue.template__newyork .template__section__degree, .color--blue.template__newyork .template__section__position {
color: white;
}
.template__newyork .template__section__position, .template__newyork .template__section__degree {
font-size: 16px;
color: #D0021B;
}
.template__newyork .template__section__company, .template__newyork .template__section__college {
font-style: normal;
}
.line-spacing--100.template__newyork .template__section__simple:not(.template__section__languages):not(.template__section__simple--fixed-line-spacing), .line-spacing--100.template__newyork .template__section__description:not(.template__section__languages):not(.template__section__simple--fixed-line-spacing) {
line-height: 20px;
}
.font-size--medium.template__newyork .template__section__simple:not(.template__section__simple--fixed-font-size):not(.template__section__languages), .font-size--medium.template__newyork .template__section__description:not(.template__section__simple--fixed-font-size):not(.template__section__languages) {
font-size: 15.5px;
}

.template__section__description {
margin-top: 8px;
}
.template__section__description div {
margin-bottom: 8px;
}

.template * {
box-sizing: border-box;

}
.font-family--professional.template__newyork {

font-family: var(--main-fontFamily);

}
.template__newyork {

color: white;
font-family: var(--main-fontFamily);

}
.template__professional {

font-size: 15.5px;
line-height: 1.5em;
border-spacing: 0;
word-wrap: break-word;

}

.font-family--professional.template__newyork {
font-family: var(--main-fontFamily);
}

.template__professional .template__header {
padding-bottom: 16px;
margin-bottom: 16px;
}

.template__professional .template__header, .template__professional .template__section__experience:last-child, .template__professional .template__section__education:last-child, .template__professional .template__section__custom:not(:last-child) {
border-bottom: 1px solid white;
}

.template * {
margin: 0;
margin-bottom: 0px;
padding: 0;
padding-bottom: 0px;
box-sizing: border-box;
}

.template__header--twoColumns {
justify-content: space-between;
}

.template__header--twoColumns, .template__section--twoColumns {
display: flex;
}

.font-family--professional.template__newyork {
font-family: var(--main-fontFamily);
}


.template__newyork {
color: #58e70e;
font-family: "Bitter",sans-serif;
}

.esahFp .template.html {
background: white none repeat scroll 0% 0%;
border: medium none;
transform-origin: 0px 0px 0px;
min-height: 842px;
box-shadow: rgb(217, 221, 224) 0px 0px 34px 0px;
}

.padding-1rem {
padding: .5rem 1rem 0 1rem;
}

.template__section.template__section__education.template__section--twoColumns.-superiorADS {
    border-bottom: 1px solid #fff;
    padding-right: 2rem;
}



@media (max-width: 810px)
{
    #tdEspaco{
        display: none;
    }
    .tableCurriculoVitae {
        padding: .5rem 1rem 0 1rem;
    }

    .template__professional .template__header, .template__professional .template__section__experience:last-child, .template__professional .template__section__education:last-child, .template__professional .template__section__custom:not(:last-child) {
        padding-right: 1rem;
    }

    .template__section.template__section__education.template__section--twoColumns.-superiorADS {
        padding-right: 1rem;
    }
    

    .template__header.template__header--twoColumns, #education .template__section__right .template__section__descriptio {
        padding-left: 1rem;
    }

    .sc-15b5x2p-1.gOzbkZ {
        padding-top: 4rem;
    }

    .template__section__title span hr{
        display: block;
        color: white;
    }

    .template__section__title > span hr {
        color: white;
    }

    .template__professional .template__section__right {
        width: 100%;
    }

    .template__professional__column.template__newyork__column {
        display: none;
    }

    .template__professional .template__section__right {
        border-left: 1px solid white;
    }

    .template__nameOccupation {
        text-align: center;
    }

    .template__professional .template__section__left {
        height: auto;
        border-right: none;
        display: none;
    }

    .template__section__title {
        text-align: center;
    }

    .template__professional .template__section__right {
        margin: 0;
    }

    .template__section__position::before {
        background-color: white;
        color: white;
        font-size: 12px;
        content: '.';
        font-family: 'Icons Templates';
        position: absolute;
        content: '.';
        line-height: 4px;
        left: -3px;
        width: 8px;
        height: 10px;
    } 

    .template__section__degree::before {
        background-color: white;
        color: white;
        font-size: 12px;
        content: '.';
        font-family: 'Icons Templates';
        position: absolute;
        content: '.';
        line-height: 4px;
        left: -3px;
        width: 8px;
        height: 10px;
    }

    .template__newyork .template__section__left::before {
        display: none;
    }

    .template__section__simple--border > .template__section__container {
        padding-left: 1rem;
    }

    .template__newyork__main .template__section__simple {
        padding-left: 0;
    }

    .template__section__description div {
        margin-bottom: 0;
    }

    .template__professional .template__section__right {
        margin-bottom: 0;
        padding-bottom: .5rem;
    }

    #education span::after {
        content: 'Salto - SP, Brasil';
        position: relative;
        display: block;
        color: #9f9f9f;
        line-height: 1rem;
        font-size: 12px;
    }

    #education .template__section__title::after {
        content: 'Fev 2021 - Dez 2022';
        position: relative;
        display: block;
        color: #9f9f9f;
        line-height: .8rem;
        font-size: 12px;
        padding: 0 .5rem;
    }

    #education .template__section__title {
        width: max-content;
        margin: 0 auto;
        border: 3px double white;
        padding: .5rem 0;
        margin-bottom: .5rem;
    }

    #work-experience span::after {
        content: 'Salto - SP, Brasil';
        position: relative;
        display: block;
        color: #9f9f9f;
        line-height: 1rem;
        font-size: 12px;
    }

    #work-experience .template__section__title::after {
        content: 'Nov 2018 - Nov 2020';
        position: relative;
        display: block;
        color: #9f9f9f;
        line-height: .8rem;
        font-size: 12px;
        padding: 0 .5rem;
    }

    #work-experience .template__section__title {
        width: max-content;
        margin: 0 auto;
        border: 3px double white;
        padding: .5rem 0;
        margin-bottom: .5rem;
    }
}

@media (max-width: 425px)
{

    .template__professional .template__section__title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .template__professional .template__name {
        font-size: 16px;
        line-height: 13px;
        margin-bottom: 2px;
    }

    .template__occupation {
        font-size: 11.5px;
        margin-bottom: 2px;
    }

    .font-size--medium.template__newyork .template__section__simple:not(.template__section__simple--fixed-font-size):not(.template__section__languages), .font-size--medium.template__newyork .template__section__description:not(.template__section__simple--fixed-font-size):not(.template__section__languages) {
        font-size: 11.5px;
    }

    .template__newyork .template__section__left::before {
        font-size: 8px;
    }

    .template__professional .template__section__startDate, .template__professional .template__section__endDate, .template__professional .template__section__location {
        font-size: 10.5px;
    }

    .template__newyork .template__section__position, .template__newyork .template__section__degree {
        font-size: 12px;
    }

    .font-size--medium.template__newyork .template__section__simple:not(.template__section__simple--fixed-font-size):not(.template__section__languages), .font-size--medium.template__newyork .template__section__description:not(.template__section__simple--fixed-font-size):not(.template__section__languages) {
        font-size: 11.5px;
        line-height: 1.1rem;
    }

    .template__professional {
        font-size: 11.5px;
        line-height: 1rem; 
    }

    .template__section__position {
        line-height: .9rem;
    }

    .template__section__degree {
        line-height: .9rem;
    }
}