#main-projects--container {
    width: 100%;
}

.projects-single {
    display: flex;
    gap: .2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.projects-logo {
    border: 4px ridge #000;
    height: 100%;
    width: 100%;
    margin-bottom: -4px !important;
}

.projects-right {
    border-radius: 10px;
    /* background: linear-gradient(90deg,#fff 0,6%,#2f9919,#267b15); antigamente, ruim pois força vista*/ 
    --tw-bg-opacity: .5;
    background-color: rgba(52,53,65,var(--tw-bg-opacity));

    max-width: 80%;
    border-left: 4px ridge var(--main-color);
    border-right: 4px ridge var(--main-color);

}

.projects-title--container {
    background-color: #0d1117;
    border: 4px ridge green;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem .5rem .5rem;
    cursor: default;
}

.projects-title--container > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projects-title--container > span {
    font-weight: bold;
    /* color: #ffd700; */
    color: #11e8ff;
    text-shadow: 1px 1px black;
    font-size: .9rem;
    background-color: #000;
    border-radius: 5px;
    padding: 2px;
    margin: 2px auto 0 auto;
}

.projects-title {
    padding: 1rem 0 .6rem 2rem;
    font-size: .9rem;
    font-family: 'press start 2p';
    text-align: center;
    color: var(--main-titleColor);
    text-shadow: 1px 2px 2px black;
    margin: 0 auto;
    line-height: 1rem;
    
}

.projects-title--container div a {
    color: #fff;
    padding: .2rem;
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
    transition: all ease-in .3s;
}

.projects-title--container div a i svg path, .projects-title--container div a i svg, .projects-title--container div a i{
    height: fit-content;
    width: fit-content;
}

.projects-title--container div a:hover {
    color:  #11e8ff;
    transform: scale(1.1);
}

.projects-title--container p {
    font-family: var(--main-fontFamily);
    text-align: center;
    font-size: .9rem;
    color: white;
    text-decoration: underline;
    padding: 0 0 .2rem 0;
}

.projects-subtitle {
    font-family: 'press start 2p';
    color: var(--main-titleColor);
    font-size: .8rem;
    text-shadow: 1px 2px 2px black;
    padding: 1rem 1rem 1rem 0;
}

.projects-description--container {
    margin: 0 .5rem;
    font-family: var(--main-fontFamily);
    color: var(--main-textColor);
    list-style-type: none;
}

.projects-description--container ul {
    list-style-type: square;
    list-style-position: inside;
    font-size: .9rem;
}

.projects-description--container ul li::marker{
    color: #1877ff;
}

.projects-description--container ul li{
    margin-bottom: .5rem;
}

/* .projects-subdescription--container {
    margin: 0 1rem 1rem 1rem;
} */

.projects-subdescription--container p {
    color: var(--main-textColor);
    font-size: .9rem;
    text-align: justify;
    font-family: var(--main-fontFamily);
    line-height: 1.2rem;
    margin: 0 .5rem;
}

.wrapper-projects hr {
    margin: 1rem;
}

.subContainer-bottom {
    border: 4px ridge #000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: .5rem;
}

.-spanOfLinkAkitaDesbAlgTwitter {
    display: block;
    font-size: .8rem;
    font-family: var(--main-fontFamily);
    color: #11e8ff;
    margin: 3px 0;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

code.token_reservada {
    background-color: #c6c6c6;
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace!important;
    color: red;
    font-weight: bolder;
    border-radius: 5px;
    padding: 0 2px;
    font-size: .8rem;
    text-shadow: none;
}

a.-linkBoldYellowProjects {
    color: #ffd700;
    font-weight: bold;
    font-size: .7rem;
}

ul.-nestedInnerUl {
    margin: 0.5rem 1rem;
    list-style-type: disc;
}

ul.-nestedInnerUl li::marker {
    color: red;
}

li code.-main-moduleTitleLi {
    font-size: .9rem;
}

code.outputResult {
    background-color: #200a1c;
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace!important;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    padding: 0 2px;
    font-size: .8rem;
    text-shadow: 1px 1px 3px #000;
}

code.-nestedInnerCode {
    margin: 0 1rem;
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace!important;
}

code.-tokenMethod {
    color: #d2a8ff;
    font-size: .8rem;
}

code.-tokenString {
    color: #a5d6ff;
    font-size: .8rem;
}

code.-tokenKeyword {
    color: #ff7b72;
    font-size: .8rem;
}

span.-tokenComment {
    color: #00d000;
    font-weight: 400;
}

ul.main-implementFullBlock--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

code.implementFullBlock {
    background-color: #200a1c;
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace!important;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    padding: .5rem;
    font-size: .9rem;
    text-shadow: 1px 1px 3px #000;
    line-height: 1rem;;
}



@media (max-width: 810px)
{
    .projects-title {
        font-size: .8rem;     
    }
    .projects-title--container p {
        font-size: .7rem;
    }
    
    .projects-subtitle {
        font-size: .8rem;
    }
    
    .projects-description--container {
        font-size: .7rem;
    }

    /* .projects-subdescription--container p {
        max-width: 90%;
    } */

    .projects-logo {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .projects-right {
        max-width: 100%;
        margin: 0 auto;
    }

    code.token_reservada {
        font-size: .7rem;
    }
    
}

@media (max-width: 425px)
{
    .projects-title {
        font-size: .7rem;     
    }
    .projects-title--container div a {
        font-size: 1.3rem;
    }
    .projects-title--container p {
        font-size: .7rem;
    }
    
    .projects-subtitle {
        font-size: .7rem;
    }
    
    .projects-description--container {
        font-size: .6rem;
    }

    .projects-subdescription--container p {
        font-size: .8rem;
        /* max-width: 90%; */
    }
    .projects-description--container ul {
        font-size: .8rem;
    }
    .projects-title--container > span {
        font-size: .8rem;
    }
    code.token_reservada {
        font-size: .6rem;
        padding: 0 1.5px;
        border-radius: 4px;
    }

    /* .projects-right {
        background-color: #46bd2e;;
    } */

    a.-linkBoldYellowProjects {
        color: #ffd700;
        font-weight: bold;
        font-size: .6rem;
    }

    #main-projects--container {
        padding-right: 0px;
    }

    ul.-nestedInnerUl {
        margin: 0.5rem 0;
    }
    
    li code.-main-moduleTitleLi {
        font-size: .7rem;
    }
}