* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(13 159 13) !important;
  --second-color: black !important;
  --main-fontFamily: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;

}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 68%;
  overflow-x: hidden;
  background: linear-gradient(to left, #444 15%, #131313 85%);
}


